<h2 class="text-align-left">Git Clone steps</h2>
<div class="markdown-format">
<ol>
<li><p>On GitHub, navigate to the main page of the repository.</p></li>
<li><p>Under the repository name, click <strong>Clone or download</strong>.
</p></li>
<li>Click <span class="octicon octicon-clippy" aria-label="The clipboard icon " title="The clipboard icon "></span> to copy the clone URL for the repository.
</p></li>
<li><p>Open <strong> Git Bash terminal </strong> or command window.</p></li>
<li><p>Change the current working directory to the location where you want the cloned directory to be made.</p></li>
<li>
<p>Type <code>git clone</code>, and then paste the URL you copied in Step 2.</p>

<pre class="command-line"><span class="command">git clone https://github.com/<em>YOUR-USERNAME</em>/<em>YOUR-REPOSITORY</em></span>
</pre>
</li>
<li>
<p>Press <strong>Enter</strong>. Your local clone will be created.</p>

<pre class="command-line"><span class="command">git clone https://github.com/<em>YOUR-USERNAME</em>/<em>YOUR-REPOSITORY</em></span>
<span class="output">Cloning into `Spoon-Knife`...</span>
<span class="output">remote: Counting objects: 10, done.</span>
<span class="output">remote: Compressing objects: 100% (8/8), done.</span>
<span class="output">remove: Total 10 (delta 1), reused 10 (delta 1)</span>
<span class="output">Unpacking objects: 100% (10/10), done.</span>
</pre>
</li>
</ol>
</div>