<h2 class="text-align-left">Add files on staging and commit</h2>

<h3> To add changes files or newly added files on stagin.</h3>
<pre class="code-pre">
git add . 
or 
git add -A
</pre>
<p>Once files are added on stagin we have to commit(Save) the added files on staging.</p>
<p>Once commit done successfully we should pull the code from the latest working branch.</p>
<p>Now we are ready to push the code on github.</p>

<h3>To check the status of files.</h3>

<pre class="code-pre">
git status
</pre>

<h3>To commit the code.</h3>

<pre class="code-pre">
git commit -m "proper message which identify that what are the changes to that commit." 
</pre>