<h2 class="text-align-left">Overview</h2>
<ul class="a">
    <li>Introduction to git.</li>
    <li>Install git, create account on github and create repository.</li>
    <li>Git clone.</li>
    <li>Add files on staging.</li>
    <li>Make a commit(Save).</li>
    <li>Pull Changes for github repository.</li>
    <li>Push files on github repository.</li>
</ul>