<h2 class="text-align-left">Introduction to git</h2>
<blockquote class="font-size-20">
    Git is a piece of software that you install locally on your computer which handles 
    
    <span class="text-decoration-underline">'version control'</span> for you.
</blockquote>
<div class="text-size-24"> 
What is version control?
</div>
<blockquote>
    Let's say you have some new project, and you are planning to store all the files for that project in some new directory. You know that as time goes on, the files in this project will change - a lot. Things could get messy, and who knows when you might need to revert back to a previous working version of what you had?
    <br/>
    <br/>
    So, you install Git on your computer. Then, you have Git create the new project directory for you. You also tell Git that you would like to keep a history of the changes you make within that directory.
</blockquote>
<div class="text-size-24"> 
Are Git and Github same?
</div>
<img src="/images/gitnotgithub.png"></img>
