<h2 class="text-align-left">Pull changes from github.</h2>
 <p>we run the pull command for pulling the latest files on the github.</p>
 <pre class="code-pre">
 git pull {name} master

 git pull origin master
 </pre>