<h2 class="text-align-left">Push changes to github.</h2>
 <p>we run the push command for pushing the latest files added on local staging to the github.</p>
 <pre class="code-pre">
 git push {name} master

 git push origin master
 </pre>