<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--<script type="text/javascript" src="/js/angular.min.js">    </script>-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
<style>

@media only screen 
  and (max-width: 736px) { 
  .mobile {
    display:block;
  }
  .desktop {
    display:none;
  }
  .tablet {
    display:none;
  }
}

@media only screen 
  and (min-width: 736px) 
  and (max-width: 1200px){ 
  .tablet {
    display:block;
  }
  .desktop {
    display:none;
  }
  .mobile {
    display:none;
  }
}

@media only screen 
  and (min-width: 1200px) {
  .desktop {
    display:block;
  }
  .tablet {
    display:none;
  }
  .mobile {
    display:none;
  }
}
.content-alignment{
  margin:0px 120px 0px 120px;
}
</style>

</head>

<body ng-app="sample">
    <div ng-controller="index"> 
        
   <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-is-locked-open='true'"
		md-component-id="left">
	<md-toolbar layout="row">
	 <div class="md-toolbar-tools">
        <h2>
          <span><a href="#/github" ng-click="closeSideNavPanel()">Github links</a></span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
       </div>
	</md-toolbar> 
	<md-content layout-padding="">
  <md-list>
	  <md-subheader class="md-no-sticky">Favorites</md-subheader>
	  <md-list-item>
      <p><a href="#/github/introduction" ng-click="closeSideNavPanel()">introduction</a></p>
	    <!--<a class="md-primary md-button md-ink-ripple" ng-transclude="" ng-href="#" href="#">
            <span class="ng-scope">Git installation</span>
            <div class="md-ripple-container"></div>
        </a>-->
	  </md-list-item>
	  <md-list-item>
	    <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
	    <p>Events</p>
	    <md-icon class="md-secondary">2</md-icon>
	  </md-list-item>
	  <md-list-item>
	    <md-icon class="md-default-theme" class="material-icons">&#xE251;</md-icon>
	    <p>Photos</p>
	    <md-icon class="md-secondary">2</md-icon>
	  </md-list-item>
	  <md-divider></md-divider>
	  <md-subheader class="md-no-sticky">Pages</md-subheader>
	  <md-list-item>
	    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
	    <p>Pages Feed</p>
	    <div class="md-secondary">2</div>
	  </md-list-item>
	  <md-list-item>
	    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
	    <p>Like Pages</p>
	    <div class="md-secondary">20+</div>
	  </md-list-item>
   </md-list>
	</md-content> 
</md-sidenav>

	<md-toolbar class="desktop">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
          <md-tooltip>Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
       
        <h2>
          <span>Github</span>
        </h2>
        <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
           <md-icon style="color:wheat" class="material-icons">&#xE8B6;</md-icon>
           <input ng-model="searchInput" placeholder="Search here" style="color:wheat;padding-left:25px;margin-left:5px">
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="User">
          <md-tooltip>User</md-tooltip>
          <img src="../images/user.png" style="width:24px;height:24px;"/>
        </md-button>
        <md-button class="md-icon-button" aria-label="Messages">
          <md-tooltip>Messages</md-tooltip>
          <img src="../images/messages.png" style="width:24px;height:24px;"/>
        </md-button>
      </div>
     </md-toolbar>
     <md-toolbar class="tablet">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
          <md-tooltip>Open Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
       
        <h2>
          <span>Github</span>
        </h2>
        <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
           <md-icon style="color:wheat" class="material-icons">&#xE8B6;</md-icon>
           <input ng-model="searchInput" placeholder="Search here" style="color:wheat;padding-left:25px;margin-left:5px">
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="User">
          <md-tooltip>User</md-tooltip>
          <img src="../images/user.png" style="width:24px;height:24px;"/>
        </md-button>
        <md-button class="md-icon-button" aria-label="Messages">
          <md-tooltip>Messages</md-tooltip>
          <img src="../images/messages.png" style="width:24px;height:24px;"/>
        </md-button>
      </div>
     </md-toolbar>
     <md-toolbar class="mobile">
      <div class="md-toolbar-tools" data-ng-show="showMobileMainHeader">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
          <md-tooltip>Open Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
       
        <h2>
          <span>Github</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Search" data-ng-click="showMobileMainHeader = false">
          <md-tooltip>Search</md-tooltip>
          <md-icon class="material-icons">&#xE8B6;</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="User">
          <md-tooltip>User</md-tooltip>
          <img src="../images/user.png" style="width:24px;height:24px;"/>
        </md-button>
        <md-button class="md-icon-button" aria-label="Messages">
          <md-tooltip>Messages</md-tooltip>
          <img src="../images/messages.png" style="width:24px;height:24px;"/>
        </md-button>
      </div>
      <div class="md-toolbar-tools" data-ng-hide="showMobileMainHeader">
        <md-button class="md-icon-button" aria-label="Back" data-ng-click="showMobileMainHeader = true">
          <md-tooltip>Back</md-tooltip>
          <md-icon class="material-icons">&#xE5C4;</md-icon>
        </md-button>
        <md-input-container md-no-float class="md-accent" style="padding-bottom:0px;">
           <input ng-model="searchInput" placeholder="Search here" style="color:wheat;">
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Search">
          <md-tooltip>Search</md-tooltip>
          <md-icon class="material-icons">&#xE163;</md-icon>
        </md-button>
      </div>
    </md-toolbar>


          </div>
          <div class="content-alignment" ng-view></div>
</body>

</html>